<div class="navigation-menu">
    <p> <a href="/admin/apartment/new-apartment">Añadir nuevo apartamento</a>
    </p>
    <% if (isAdmin) { %>
        <p><a href="/logout">Logout</a></p>
        <% } else { %>
            <p><a href="/login">Login</a></p>
            <% } %>
</div>
<div>
    <% if (success_msg.length!=0) { %>
        <div class="alert success">
            <%= success_msg %>
        </div>
        <% } %>
</div>