body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.apartments {
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.apartments article {
    max-width: 400px;
}

.navigation-menu {
    display: flex;
    justify-content: space-between;
}

.alert {
    margin-bottom: 15px;
    padding: 4px 12px;
}

.success {
    background-color: #ddffdd;
    border-left: 6px solid #04AA6D;
}



@media (min-width: 760px) {
    .apartments {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .apartments img {
        aspect-ratio: 1/1;
        width: 100%;
        object-fit: cover;
        /* Escala y recorta la imagen para llenar el contenedor */
    }

    .detail-apartment {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
    }


}